.table-container {
    width: 100%;
    overflow-y: auto;
    /* margin: 20px; */
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
    font-weight: bold;
    
    background-color: none;
    /* box-shadow: .5rem .5rem .5rem 0 rgba(0, 0, 0, 0.35); */
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #1d1d1d;
  }
  
  table th {
    /* background-color: #ddd; */
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: none;
  }
  table tr:last-child td {
    border-bottom: none;
  }
  
  table tr:hover {
    background-color: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table thead {
      display: none;
    }
  
    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #1d1d1d;
    }
  
    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #1d1d1d;
    }
  
    table td::before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-button {
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 0.5rem;
    background-color: #fff;
}

.pagination-button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

  .current-page {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0 0.5rem;
  }

.container-flex{
    display: flex;
    flex-direction: column;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-filter{
  color: red;
  text-align: left;
}